
<div class="container">


    <!-- Material form contact -->
<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Load Course</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form method="post" action="/data/load"  class="text-center" style="color: #757575;">



            <!-- Send button -->
            <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Load Data</button>

        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form contact -->

</div>